<html lang="en">
<head>
<meta charset="utf-8">
<title>Coronavirus Trends</title>
<link rel="stylesheet" type="text/css" href="style.css?2">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="icon" href="favicon.ico" type="image/x-icon">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Covid Trends">
<meta name="twitter:description" content="Visualising the exponential growth of the coronavirus.">
<meta name="twitter:image" content="http://gerardbriscoe.github.io/corona/logo.png">
<meta property="og:title" content="Coronavirus Trends">
<meta property="og:type" content="article">
<meta property="og:url" content="http://gerardbriscoe.github.io/corona/">
<meta property="og:image" content="http://gerardbriscoe.github.io/corona/logo.png">
<meta property="og:description" content="Visualising the exponential growth of the coronavirus.">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
<style scoped>.example{margin:0}@media not all and (any-pointer:fine){.example{margin:0 0 1.0rem 0}}</style>
</head>
<body onload="checkCookieIntro()">
<div id="root">
<div class="ctapp">
<main id="main">
<graph v-if="covidData.length &gt; 0" :graph-data="graphData" :day="day" :resize="isHidden" v-bind.sync="graphAttributes"></graph>
<div v-if="covidData.length &gt; 0" class="nav">
<div class="navelement">
<img v-show="paused" @click="play" src="icons/play.svg" alt="Play" style="width:3rem">
<img v-show="!paused" @click="play" src="icons/pause.svg" alt="Pause" style="width:3rem">
</div>
<div class="navelement">
<time class="h2" :datetime="formatDate(minDay &gt; 0 ? dates[day - 1] : dates[dates.length - 1])">{{ formatDate(minDay &gt; 0 ? dates[day - 1] : dates[dates.length - 1]) }}</time>
</div>
<div class="navelement slidercontainer">
<input v-if="dates.length &gt; 7" type="range" :min="minDay &gt; 0 ? minDay : dates.length" :max="dates.length" step="1" v-model="day" class="slider" @mousedown="pause" aria-label="Choose the current observation day">
</div>
</div>
</main>
<aside>
<div>
<select id="selectedRegion" v-model="selectedRegion" @mousedown="pause">
<option v-for="s in regions" v-bind:value="s">{{ s }}</option>
</select>
</div>
<div class="buttonwrapper">
<button @click="selectAll" aria-label="Select All Regions">All</button>
<button @click="deselectAll" aria-label="Deselect All Regions">None</button>
</div>
<div class="search">
<input id="searchField" v-model="searchField" placeholder="search" aria-label="Search For A Location">
</div>
<div class="countries">
<ul style="list-style:none;padding:.5rem;margin:0;display:inline-block;text-align:left">
<li class="example" v-for="country in visibleCountries">
<input type="checkbox" :id="country" :value="country" v-model="selectedCountries">
<label :for="country">{{country}}</label>
</li>
</ul>
</div>
</aside>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
<script src="vue-definitions.js?7"></script>
<script type="text/javascript">
"use strict";

function setCookie(c_name, value, exdays)
    {
    var exdate = new Date();
    exdate.setDate(exdate.getDate() + exdays);
    var c_value = escape(value) + ((exdays == null) ? "" : "; expires=" + exdate.toUTCString());
    document.cookie = c_name + "=" + c_value + "; SameSite=None; Secure";
    }

function getCookie(c_name)
    {
    var c_value = document.cookie;
    var c_start = c_value.indexOf(" " + c_name + "=");
    if (c_start == -1)
        {c_start = c_value.indexOf(c_name + "=");}
    if (c_start == -1)
        {c_value = null;}
    else{
        c_start = c_value.indexOf("=", c_start) + 1;
        var c_end = c_value.indexOf(";", c_start);
        if (c_end == -1)
            {c_end = c_value.length;}
        c_value = unescape(c_value.substring(c_start, c_end));
        }
    return c_value;
    }

function checkCookieIntro()
    {
    var cookie = getCookie("mySite");
    if (cookie == null || cookie == "")
        {
        setCookie("mySite", "1", 90);
        $.fancybox.open({
            src: 'https://www.youtube.com/watch?v=54XLXg4fYsc',
            opts: {youtube: {autoplay: 1}}})
        }
    }
</script>
</body>
</html>