@import "https://db.onlinewebfonts.com/c/23c8ec0d7b298e340b59bd32a7e661f3?family=SF+Compact+Display";
@font-face{font-family:"SF Compact Display";src:url(https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.eot);src:url(https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.eot?#iefix) format("embedded-opentype"),url(https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.woff2) format("woff2"),url(https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.woff) format("woff"),url(https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.ttf) format("truetype"),url("https://db.onlinewebfonts.com/t/23c8ec0d7b298e340b59bd32a7e661f3.svg#SF Compact Display") format("svg")}
html,body{width:100%;height:100%;margin:0}
body,.plotly-notifier{font-family:"SF Compact Display"}
body{font-size:1em;line-height:1.5;font-weight:400;text-rendering:optimizeLegibility}
h1{margin:0;font-weight:100;font-size:2rem}
h2,.h2{margin:0;font-weight:700;font-size:1.5rem;margin-bottom:1rem}
h3{text-align:center;font-weight:400;font-size:1.2rem}
h1,h2,.h2,h3{line-height:1.1}
b{font-weight:700}
i{font-style:italic}
p{font-size:1rem}
.logowrapper{flex:1;display:flex;flex-direction:column;align-items:center;justify-content:center;min-width:10rem}
.logowrapper a{text-decoration:none;color:#fff}
.logowrapper h1{text-align:center}
.logos{margin-top:1rem}
.logos>a:first-child{margin-right:.75rem}
#root{height:100%;display:flex;flex-direction:column}
#title{flex:1}
header{color:#fff;background-image:linear-gradient(to bottom,#2c003e,#721b65);position:relative;display:flex;padding:.75rem;flex-shrink:0}
.ctapp{display:flex;flex-direction:row;flex-grow:1;overflow-y:auto;-webkit-overflow-scrolling:touch}
.ctapp h2,.ctapp .h2{color:#43abc9}
main{flex:6;display:flex;flex-direction:column;padding:1rem}
aside{flex:1;display:flex;flex-direction:column;background-color:#eee;padding:1rem;min-width:10rem;overflow-y:auto;-webkit-overflow-scrolling:touch}
aside>div{margin-bottom:2rem}
aside>div:last-child{margin-bottom:0}
.countries{overflow-y:auto;-webkit-overflow-scrolling:touch}
aside h2{font-size:1.5rem;text-align:center}
footer{font-size:.75rem}
.nav{display:flex;flex-direction:row}
.navelement{padding:1rem;text-align:center;margin:auto}
.navelement>h2{margin:auto}
.slidercontainer{flex-grow:1}
.slider{width:100%;min-width:200px}
svg{fill:#43abc9}
#hide{font-size:1rem;padding:.5rem;position:absolute;bottom:0;right:0}
.search{width:100%;display:flex;flex-direction:row;min-width:10rem}
.search>input{flex:1;text-align:center;font-size:.75rem;padding:.5rem;margin-top:.5rem}
.buttonwrapper{width:100%;display:flex;flex-direction:row;flex-wrap:wrap;justify-content:center}
button{margin:auto;min-width:50px;width:60px;padding:5px 10px;font-size:1rem;text-align:center;text-decoration:none;transition-duration:.4s;background-color:#43abc9;color:#fafad2;border:.125rem solid #43abc9;border-radius:.25rem}
button:hover{background-color:#b80d57;border:.125rem solid #b80d57;color:#fffacd}
.countries button{margin-top:.5rem}
.countries p{margin-bottom:.75rem}
select{min-width:8rem;font-size:1rem;padding:.5rem;width:100%;margin:.5rem 0;text-align:center;text-align-last:center}
select:first-child{margin-top:0}
.nodata{height:100%;display:flex;align-content:center;justify-content:center;align-items:center}